@model CARMEN_PORTAFOLIO.Models.Datos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Datos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Hecho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Hecho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
